.header {
    align-items: center;
    display: flex;
    border-bottom: 1px solid rgba(158, 158, 158, 0.6);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.header-logo {
    margin-left: 20px;
}
.header-logo img{
    width: 200px;
    height:auto;
    padding: 10px 10px;
}

.header-nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.header-nav:nth-child(even) {
    margin-right: 20px;
}
